body {
    background-color: #E9EBEE;
    padding: 0px;
    margin: 0px;
}

.registrodoctor {
    background: cadetblue;
    width: 28%;
    height: 450px;
    border-radius: 30px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    text-align: center;
    padding-top: 20px;
}

.encabezado {
    width: 100%;
    background: #35B04B;
    height: 150px;
    margin-top: 30px;
}

h1 {
    color: #E9EBEE;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}

h2 {
    color: #E9EBEE;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin-top: 40px;
    text-align: left;
    margin-left: 40px;
}

.input1 {
    height: 40px;
    width: 70%;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.botonsesion {
    width: 30%;
    height: 45px;
    color: #35B04B;
    background: #E9EBEE;
    margin-top: 25px;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    cursor: pointer;
    transition: background 1s, color 1s, width 1s;
}

    .botonsesion:hover {
        background: #35B04B;
        color: #E9EBEE;
        width: 35%;
        transition: all 0.5s;
    }

.usuario {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-size: x-large;
    color: #5d7ea7;
}

.encabezado2 {
    width: 100%;
    background: #35B04B;
    height: 100px;
    display: flex;
    float: inherit;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-end;
}

.imgbuscar {
    max-width: auto;
    height: 150px;
    margin-top: 5px;
}

.registros {
    background: cadetblue;
    width: 35%;
    height: 450px;
    border-radius: 30px;
    margin-top: 30px;
    margin-left: 10%;
    text-align: center;
    padding-top: 20px;
    float: left;
}

.imgañ {
    max-width: auto;
    height: 150px;
    margin-top: 5px;
}

.dias {
    width: 12%;
    color: #E9EBEE;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    background: cadetblue;
    border-radius: 5px;
}

.semana {
    width: 96%;
    margin-left: 2%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.horas {
    width: 12%;
    color: #E9EBEE;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 30px;
    background: cadetblue;
    border-radius: 5px;
    text-align: center;
}

.meds {
    width: 12%;
    color: cadetblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 30px;
    border: solid 2px;
    border-color: #35B04B;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background 1s, color 1s;
}

.medsPrueba {
    width: 12%;
    color: #2d1818;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 30px;
    border: solid 13px;
    border-color: #e0682f;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background 1s, color 1s;
}

    .meds:hover {
        background: #35B04B;
        color: #E9EBEE;
        transition: all 0.5s;
    }

.tinydias {
    width: 7%;
    color: #E9EBEE;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    background: cadetblue;
    border-radius: 5px;
}

.tinysemana {
    width: 56%;
    margin-left: 2%;
    margin-top: 30px;
    margin-bottom: 30px;
    float: right;
    margin-right: 2%;
}

.tinyhoras {
    width: 7%;
    color: #E9EBEE;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 30px;
    background: cadetblue;
    border-radius: 5px;
    text-align: center;
}

.tinymeds {
    width: 7%;
    color: cadetblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 30px;
    border: solid 2px;
    border-color: #35B04B;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background 1s, color 1s;
}

    .tinymeds:hover {
        background: #35B04B;
        color: #E9EBEE;
        transition: all 0.5s;
    }

.agmed {
    background: cadetblue;
    width: 38%;
    height: 790px;
    border-radius: 30px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    text-align: center
}

.labels {
    color: #E9EBEE;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.labels2 {
    color: #E9EBEE;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.input2 {
    height: 40px;
    width: 30%;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-align: center
}

.imgch {
    max-width: auto;
    height: 450px;
    margin-left: 100px;
    margin-top: 30px;
}

.textvalid {
    color: cadetblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    float: right;
    margin-right: 150px;
    margin-top: 230px;
}
